In [1]:
import pandas as pd 
import numpy as np

In [3]:
citydata="C:\\Users\\mstas\\Desktop\\Tableau\\Resources\\202206-citbike-tripdata.csv"

In [4]:
citydata_df= pd.read_csv(citydata)

C:\Users\mstas\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
citydata_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FD85DE523427365B,classic_bike,6/8/2022 18:55,6/8/2022 18:58,E 149 St & Park Ave,7884.04,Morris Ave & E 153 St,7901.04,40.818154,-73.925294,40.820036,-73.921411,member
1,E1DF44B06B360036,classic_bike,6/18/2022 16:34,6/18/2022 16:47,E 115 St & Madison Ave,7599.02,W 148 St & Amsterdam Ave,8033.09,40.798983,-73.944716,40.827075,-73.945909,member
2,72B6DBF42BC1F9E1,classic_bike,6/11/2022 17:57,6/11/2022 18:07,E 115 St & Madison Ave,7599.02,2 Ave & E 99 St,7386.1,40.798944,-73.944846,40.786259,-73.945526,member
3,5FABA5CB97A6EA64,classic_bike,6/23/2022 17:32,6/23/2022 17:38,W Broadway & Spring St,5569.06,N Moore St & Hudson St,5470.02,40.724947,-74.001659,40.719961,-74.008443,member
4,EBA54764AA1A3A41,classic_bike,6/30/2022 16:17,6/30/2022 16:27,E 14 St & 1 Ave,5779.1,5 Ave & E 29 St,6248.06,40.731393,-73.982867,40.745168,-73.986831,member

In [6]:
citydata_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [7]:
len(citydata_df)

1048575

In [8]:
citydata_df.dropna()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FD85DE523427365B,classic_bike,6/8/2022 18:55,6/8/2022 18:58,E 149 St & Park Ave,7884.04,Morris Ave & E 153 St,7901.04,40.818154,-73.925294,40.820036,-73.921411,member
1,E1DF44B06B360036,classic_bike,6/18/2022 16:34,6/18/2022 16:47,E 115 St & Madison Ave,7599.02,W 148 St & Amsterdam Ave,8033.09,40.798983,-73.944716,40.827075,-73.945909,member
2,72B6DBF42BC1F9E1,classic_bike,6/11/2022 17:57,6/11/2022 18:07,E 115 St & Madison Ave,7599.02,2 Ave & E 99 St,7386.1,40.798944,-73.944846,40.786259,-73.945526,member
3,5FABA5CB97A6EA64,classic_bike,6/23/2022 17:32,6/23/2022 17:38,W Broadway & Spring St,5569.06,N Moore St & Hudson St,5470.02,40.724947,-74.001659,40.719961,-74.008443,member
4,EBA54764AA1A3A41,classic_bike,6/30/2022 16:17,6/30/2022 16:27,E 14 St & 1 Ave,5779.1,5 Ave & E 29 St,6248.06,40.731393,-73.982867,40.745168,-73.986831,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,4C019E6A75811242,electric_bike,6/13/2022 11:28,6/13/2022 11:35,E 80 St & 2 Ave,7121.02,5 Ave & E 87 St,7323.09,40.773914,-73.954395,40.782323,-73.959875,member
1048571,4FB7BF33A7E290E2,classic_bike,6/6/2022 18:53,6/6/2022 19:03,Front St & Jay St,4895.03,Schermerhorn St & Court St,4565.04,40.702461,-73.986842,40.691029,-73.991834,member
1048572,90844F07FB5164BA,electric_bike,6/11/2022 12:52,6/11/2022 13:03,E 74 St & 1 Ave,6953.08,E 53 St & Madison Ave,6659.03,40.768974,-73.954823,40.759711,-73.974023,member
1048573,2C44EE34E15BF590,electric_bike,6/7/2022 6:22,6/7/2022 6:30,E 80 St & 2 Ave,7121.02,E 53 St & Madison Ave,6659.03,40.773914,-73.954395,40.759711,-73.974023,member
1048574,089C1D80BCE86E3D,classic_bike,6/22/2022 16:09,6/22/2022 16:30,Front St & Jay St,4895.03,Henry St & Degraw St,4380.08,40.702461,-73.986842,40.684751,-73.999173,member

In [9]:
citydata_df.sample(frac = 0.5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
90846,59B33E8CD03634D5,classic_bike,6/28/2022 15:04,6/28/2022 16:14,Lenox Ave & W 111 St,7602.05,E 88 St & Park Ave,7293.1,40.798786,-73.952300,40.781411,-73.955959,casual
431239,A79630CC8A481681,classic_bike,6/20/2022 15:50,6/20/2022 15:59,Frederick Douglass Blvd & W 112 St,7631.23,Central Park W & W 91 St,7453.01,40.801694,-73.957145,40.788665,-73.966801,member
954762,A38BC8F2FB2B0F73,classic_bike,6/10/2022 16:15,6/10/2022 16:35,Carroll St & Franklin Ave,3847.04,Grand Army Plaza & Plaza St West,4010.15,40.667941,-73.958800,40.672968,-73.970880,member
494807,3F6D76777C28229E,classic_bike,6/13/2022 20:34,6/13/2022 20:46,Central Park West & W 85 St,7354.01,Adam Clayton Powell Blvd & W 126 St,7738.04,40.784760,-73.969862,40.809495,-73.947765,member
981643,B53A5249F53E64A5,classic_bike,6/24/2022 23:11,6/24/2022 23:19,Allen St & Stanton St,5484.09,Broadway & E 19 St,6098.12,40.721789,-73.989188,40.738661,-73.989873,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
881931,063CD556C1C6972B,classic_bike,6/25/2022 11:31,6/25/2022 11:38,E 41 St & Madison Ave (SW corner),6474.12,Madison Ave & E 26 St,6131.12,40.752165,-73.979922,40.742685,-73.986713,casual
294620,234C428DA4A06665,classic_bike,6/3/2022 0:33,6/3/2022 0:40,West St & Chambers St,5329.03,Christopher St & Greenwich St,5847.01,40.717548,-74.013221,40.732916,-74.007114,casual
526156,00BF424E7235DF6E,classic_bike,6/2/2022 8:40,6/2/2022 8:42,Park Ave & E 124 St,7682.01,E 123 St & Lexington Ave,7636.05,40.804555,-73.939686,40.802926,-73.937900,member
860581,3C1CBBD571F0A182,classic_bike,6/18/2022 11:45,6/18/2022 12:08,Central Park W & W 97 St,7538.18,Riverside Blvd & W 67 St,7183.03,40.792495,-73.964171,40.777507,-73.988886,casual
842691,B07038F8EC98B66F,electric_bike,6/4/2022 9:56,6/4/2022 10:01,E 74 St & 1 Ave,6953.08,1 Ave & E 62 St,6753.08,40.768974,-73.954823,40.761227,-73.960940,member

In [10]:
citydata_df.to_csv('C:\\Users\\mstas\\Desktop\\Tableau\\citydata_df.csv', index = False)